<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Główna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>

<div class="mx-auto" style="width: 600px">
    <a href="/add" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Dodaj zadanie</a>
    <a href="/list" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pokaż listę</a>
    <a href="/table" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Pokaż archiwum</a>
</div>

</body>
</html>