<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>

<body>
<div>
    <!--    <ul>-->
    <!--        <li th:each="task: ${list}" th:text="|${task.description}|">Opis</li>-->
    <!--    </ul>-->
        <div class="alert alert-warning" th:each="task: ${list}">
            <div class="animal-info ml-2">
                <span class="mb-8 mr-sm-8" th:text="${task.description}">Opis</span>
                <span class="col-sm-6" th:text="${task.deadline}">Deadline</span>

            </div>
        </div>

</div>
</body>
</html>